.updatecss{
    margin-left: 3%;
}
.updatename{
    margin-left: 19px;
}
.buttonatt{
    margin-left: 82px;
    margin-top: 10px;
}
.btn.btn-primary{
    margin-left: 2px;
}
h5{
    margin-left: 80px;
}